<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="21script.js"></script>
</head>
<body ng-app="myModule">
	<div ng-controller="myController">

	
		<button id="top" ng-click="scrollTo('bottom')">Go to buttom of the page</button>
		<div style="width: 400px; border: 1px solid black; font-family: Arial; font-size: larger; padding: 5px;">
			<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b><b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.<b>asdlksdf </b>
			<br>
			A quick brown fox jumped over the lazy dog.
		</div>
		<button id="bottom" ng-click="scrollTo('top')">Go to top of the page</button>
	</div>
</body>
</html>